<main>
  <body>
    <section class="min-hz-100vh">
      <div class="section-title text-center py-4 mt-4">
        <p class="fz-24 py-4 lh-lg">
          抱歉 <i class="fa-solid fa-heart-crack"></i><br />
          我們找不到您想搜尋的內容<br />
        </p>
        <p class="fz-24 text-white">
          <a
            class="align-middle d-inline-flex justify-content-center text-body project-link fz-24 px-4 py-2"
            href="/"
          >
            回到首頁
            <i class="fa-brands fa-space-awesome fa-rotate-90 fz-16"></i
          ></a>
        </p>
      </div>
    </section>
    <% layout("layout") %>
  </body>
</main>
