<main class="min-hz-100vh">
  <body>
    <section>
      <div class="container">
        <p><%= project.name %></p>
        <p><%= project.introduction %></p>
      </div>
    </section>

    <% layout("layout") %>
  </body>
</main>
