// General
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fcfcfc;
}

ul
{
  list-style: none;
  list-style-type: none;
  padding-inline-start: 0;
}

a{
  cursor: pointer;
  text-decoration: none;
}

// a:hover{
//   color: #5c67a2 !important;
// }

// Background Color
.bgc-d3d3d3 {
  background: #D3D3D3;
}

.wz-100 {
  width: 100px;
}

.wz-210 {
  width: 210px;
}

.wz-240{
  width: 240px;
}

// Height
.hz-200 {
  height: 200px;
}

.hz-240 {
  height: 240px;
}

.hz-300 {
  height: 300px;
}

.hz-340 {
  height: 340px;
}

.hz-400 {
  height: 400px;
}

.hz-450 {
  height: 450px;
}

.hz-500 {
  height: 500px;
}

.hz-600 {
  height: 600px;
}

.hz-640 {
  height: 640px;
}

// Font Size
.fz-12
{
  font-size: 12px;
}

.fz-16 {
  font-size: 16px;
}

.fz-24{
  font-size: 24px;
}

.fz-26 {
  font-size: 26px;
}

.fz-36
{
  font-size: 36px;
}

.fz-48
{
  font-size: 48px;
}

// Min Height
.min-hz-100vh
{
  min-height: 100vh;
}

// Overflow
.overflow-hidden
{
  overflow: hidden;
}

// Object Fit
.object-fit-cover
{
  object-fit: cover;
  object-position: center center;
}

.object-fit-contain
{
  object-fit: contain;
}

// RWD ==================================================

// Middle 
@media (max-width:767px){
  .res-md-hz-276 {
    height: 276px;
  }

  .res-md-hz-260 {
    height: 260px;
  }

  .res-sm-wz-100p {
    width: 100%;
  }
}

// Small
@media (max-width:575px){
  .res-sm-hz-160{
    height: 160px;
  }

  .res-sm-hz-200 {
    height: 200px;
  }
}

// Header ==================================================

.social-icons i{
  color: #2c2c2c;
}

// Footer ==================================================

// Index Page ==================================================

.project-link
{
  position: relative;
  border: 1px solid #2c2c2c;
  border-radius: 2px;
}

.project-link:hover
{
  color: #5c67a2 !important;
  border: 1px solid #5c67a2;
}

.project-link:hover::before
{
  transform: scaleX(1);
}

/* Animate the line from the left */
.project-link::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #5c67a2;
  transform: scaleX(0);
  transform-origin: top left;
  transition: transform 0.3s ease;
}

// Project  Page ==================================================

.portfolio-menu .btn
{
  color: #2c2c2c;
  background-color: #fcfcfc;
  border: 1px solid #acb9c4;
  transition: all .3s ease;
}

.portfolio-menu .btn:not(.btn-check:checked+.btn):hover
{
  background-color: #fcfcfc;
  color: #5c67a2;
}

.portfolio-menu .btn-check:checked+.btn {
  background-color: #5c67a2 !important;
}

// .portfolio-item {
//   position: relative;
//   padding: 0
// }


// .portfolio-item .block {
//   height: 260px
// }

// .portfolio-item img {
//   width: 100%;
//   height: 100%;
//   // max-height: 260px;
//   overflow: hidden;
//   justify-content: center;
//   display: flex;
//   // object-fit: scale-down;
//   object-fit: contain;
// }

// @media screen and (max-width: 1000px) {
//   .portfolio-item .img {
//       height:56%;
//       min-height: 46%;
//       overflow: hidden;
//       justify-content: center;
//       display: flex;
//       // object-fit: scale-down;
//       object-fit: contain;
//   }
// }

.portfolio-item
{
  // position relative bootstrap not correct
  position: relative;
}

.portfolio-hover {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(19, 19, 19, 0.6);
  visibility: hidden;
  opacity: 0;
  transition: .3s ease
}

.portfolio-item:hover .portfolio-hover {
  visibility: visible;
  opacity: 1
}

.portfolio-content {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-30%);
  text-align: center;
  padding: 20px;
  transition: inherit
}

.portfolio-item:hover .portfolio-content {
  transform: translateY(-50%)
}

.portfolio-content a {
  transition: .3s ease
}