* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fcfcfc;
}

ul {
  list-style: none;
  list-style-type: none;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.bgc-d3d3d3 {
  background: #D3D3D3;
}

.wz-100 {
  width: 100px;
}

.wz-150 {
  width: 150px;
}

.wz-160 {
  width: 160px;
}

.wz-180 {
  width: 180px;
}

.wz-200 {
  width: 200px;
}

.wz-210 {
  width: 210px;
}

.wz-240 {
  width: 240px;
}

.wz-250 {
  width: 250px;
}

.hz-40 {
  height: 40px;
}

.hz-60 {
  height: 60px;
}

.hz-70 {
  height: 70px;
}

.hz-160 {
  height: 160px;
}

.hz-200 {
  height: 200px;
}

.hz-240 {
  height: 240px;
}

.hz-300 {
  height: 300px;
}

.hz-340 {
  height: 340px;
}

.hz-400 {
  height: 400px;
}

.hz-450 {
  height: 450px;
}

.hz-500 {
  height: 500px;
}

.hz-600 {
  height: 600px;
}

.hz-640 {
  height: 640px;
}

.hz-800 {
  height: 800px;
}

.hz-850 {
  height: 850px;
}

.fz-12 {
  font-size: 12px;
}

.fz-16 {
  font-size: 16px;
}

.fz-18 {
  font-size: 18px;
}

.fz-20 {
  font-size: 20px;
}

.fz-24 {
  font-size: 24px;
}

.fz-26 {
  font-size: 26px;
}

.fz-36 {
  font-size: 36px;
}

.fz-48 {
  font-size: 48px;
}

.min-hz-100vh {
  min-height: 100vh;
}

.max-hz-360 {
  max-height: 360px;
}

.max-hz-600 {
  max-height: 600px;
}

.overflow-hidden {
  overflow: hidden;
}

.object-fit-cover {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

.object-fit-contain {
  -o-object-fit: contain;
     object-fit: contain;
}

@media (max-width: 1399px) {
  .res-xxl-hz-550 {
    height: 550px;
  }
}
@media (max-width: 1199px) {
  .res-xl-hz-500 {
    height: 500px;
  }
}
@media (max-width: 991px) {
  .res-lg-hz-380 {
    height: 380px;
  }
  .res-lg-hz-420 {
    height: 420px;
  }
  .res-lg-hz-450 {
    height: 450px;
  }
  .res-lg-hz-500 {
    height: 500px;
  }
}
@media (max-width: 767px) {
  .res-md-hz-260 {
    height: 260px;
  }
  .res-md-hz-276 {
    height: 276px;
  }
  .res-md-hz-300 {
    height: 300px;
  }
  .res-md-hz-320 {
    height: 320px;
  }
  .res-md-hz-360 {
    height: 360px;
  }
  .res-md-hz-400 {
    height: 400px;
  }
  .res-md-hz-476 {
    height: 476px;
  }
  .res-md-wz-180 {
    width: 180px;
  }
  .res-md-wz-200 {
    width: 200px;
  }
  .w-md-100 {
    width: 100%;
  }
  .res-sm-max-hz-260 {
    max-height: 260px;
  }
}
@media (max-width: 575px) {
  .res-sm-hz-160 {
    height: 160px;
  }
  .res-sm-hz-200 {
    height: 200px;
  }
  .res-sm-hz-240 {
    height: 240px;
  }
  .res-sm-hz-260 {
    height: 260px;
  }
  .res-sm-hz-280 {
    height: 280px;
  }
  .res-sm-hz-300 {
    height: 300px;
  }
  .res-sm-hz-320 {
    height: 320px;
  }
  .res-sm-hz-360 {
    height: 360px;
  }
  .res-sm-wz-160 {
    width: 160px;
  }
  .res-sm-max-hz-260 {
    max-height: 260px;
  }
}
.social-icons i {
  color: #2c2c2c;
}

.social-icons i:hover {
  color: #5c67a2;
}

.activeNav {
  color: #5c67a2;
}

.project-link {
  position: relative;
  border: 1px solid #2c2c2c;
  border-radius: 6px;
}

.project-link:hover {
  color: #5c67a2 !important;
  border: 1px solid #5c67a2;
}

.project-link:hover::before {
  transform: scaleX(1);
}

/* Animate the line from the left */
.project-link::before {
  content: "";
  position: absolute;
  display: block;
  width: 98%;
  height: 2px;
  bottom: 0;
  left: 1%;
  background-color: #5c67a2;
  transform: scaleX(0);
  transform-origin: top left;
  transition: transform 0.3s ease;
  border-radius: 6px;
}

.portfolio-menu .btn {
  color: #2c2c2c;
  background-color: #fcfcfc;
  border: 1px solid #acb9c4;
  transition: all 0.3s ease;
}

.portfolio-menu .btn:not(.btn-check:checked + .btn):hover {
  background-color: #fcfcfc;
  color: #5c67a2;
}

.portfolio-menu .btn-check:checked + .btn {
  background-color: #5c67a2 !important;
}

.portfolio-item {
  position: relative;
}

.portfolio-hover {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(19, 19, 19, 0.6);
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease;
}

.portfolio-item:hover .portfolio-hover {
  visibility: visible;
  opacity: 1;
}

.portfolio-content {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-30%);
  text-align: center;
  padding: 20px;
  transition: inherit;
}

.portfolio-item:hover .portfolio-content {
  transform: translateY(-50%);
}

.portfolio-content a {
  transition: 0.3s ease;
}

.team-social-link {
  color: #2c2c2c;
}

.team-social-link:hover {
  color: #5c67a2;
}

.contact-link {
  color: #2c2c2c;
}

.contact-link:hover {
  color: #5c67a2;
}/*# sourceMappingURL=main.css.map */