<footer class="footer bgc-d3d3d3 mt-4">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <p class="copyright pt-4 pb-2 fz-12">
          Copyright 2023-2023 NTUE DTD 112. All rights reserved.
        </p>
      </div>
    </div>
  </div>
</footer>
